
<div class="row index-page">
    <h2 class="text-center">Reduce your Web Page To Numbers</h2>
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
        <form method="post" data-abide="ajax" class="url-form">
            <div class="row">
                <div class="small-12 columns">
                   <input type="url" placeholder="http://google.com/" required class="url">
                   <small class="error">Valid URL is required my friend</small>
                </div>
            </div>

            <div class="row cta">
                <div class="small-12 columns text-center">
                   <button type="submit" class="button success radius">Reduce</button>
                </div>
            </div>
        </form>
    </div>
</div>
