
<div class="row index-page">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns">
        <form method="post">
            <div class="row">
                <div class="small-12 columns">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="url" placeholder="http://google.com/" required class="url">
                        </div>
                        <div class="small-3 columns">
                            <a class="button success postfix checkUrl">Count</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
