*:focus {
  outline: none;
}
/** Common CSS **/
body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-content {
  margin-top: 50px !important;
}
.fa-html5 {
  color: #E44D26;
}
.error-msg {
  color: #e74c3c;
}
/** Foundation Overrides **/
.top-bar {
  background-color: #16a085;
  height: 60px;
}
.top-bar .name a {
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
}
.top-bar .name a .fa {
  font-size: 30px;
  line-height: 60px;
}
.button.success,
.button.success:hover,
.button.success:focus {
  background-color: #16a085;
  font-weight: bold;
}
[data-abide] .error small.error,
[data-abide] .error span.error,
[data-abide] span.error,
[data-abide] small.error {
  background-color: #e74c3c;
  font-style: normal;
}
/** Home Page **/
.index-page h2 {
  margin-bottom: 50px;
}
.index-page .cta {
  padding-top: 30px;
}
/** Result Page **/
.result-page .tested-url {
  font-size: 16px;
}
.result-page .permalink {
  color: #85939B;
  font-size: 14px;
  line-height: 30px;
}
.result-page .filter {
  height: 30px;
}
.result-page table {
  width: 100%;
  border-radius: 5px;
}
.result-page table td {
  font-size: 16px;
  line-height: 24px;
  vertical-align: top;
}
.result-page .tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.result-page .tabs dd {
  display: table-cell;
  width: 100%;
  float: none;
}
.result-page .tabs dd,
.result-page .tabs dd a {
  background-color: #F5F5F5;
}
.result-page .tabs dd.active,
.result-page .tabs dd.active a {
  background-color: #E1E1E1;
}
.result-page .tabs-content {
  padding: 10px;
  border: 1px solid #E1E1E1;
}
.result-page .css-tab [class^="prop-"] ul {
  margin: 0;
  list-style: none;
}
.result-page .css-tab [class^="prop-"] ul li {
  display: inline;
}
.result-page .css-tab [class^="prop-"] ul li span {
  padding: 5px 10px;
}
.result-page .css-tab .prop-color ul {
  background-color: #F1F4F9;
}
.result-page .css-tab .prop-font-size span {
  font-size: attr(data-font-size);
}
.result-page .css-tab .prop-font-family ul li {
  display: block;
}
.result-page .css-tab .prop-font-family span {
  font-family: attr(data-font-family);
}
/** 404 **/
.page-404,
.page-500 {
  margin-top: 50px;
  text-align: center;
}
.page-404 .fa,
.page-500 .fa {
  font-size: 80px;
  line-height: 150px;
  color: #bdc3c7;
}
.page-404 h2,
.page-500 h2 {
  color: #bdc3c7;
}
/** Footer **/
footer {
  padding: 20px;
}
/** Footable Pagination **/
ul.pagination {
  float: right;
}
.footable-page-current a,
.footable-page-current a:hover {
  background-color: #16a085 !important;
  color: #FFF !important;
}
