
<div class="row 404-page text-center" style="margin-top:50px;">
    <div class="small-12 columns">
        <i class="fa fa-code" style="font-size:80px; line-height:150px; color:#bdc3c7"></i>
        <h2 style="color:#bdc3c7">You lost bro?</h2>
    </div>
</div>
